body {
	font-family: Arial, sans-serif;
	color: #ffffff;
	background-color: #f4f4f4;
}

.container{
	max-width: 80%;
	margin-top: 40px;
	background-color: #800000;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	color: #DDDDDD;
}

h1 {
	color: #28a745;
	text-align: center;
	margin-bottom: 30px;
}

label {
	font-weight: bold;
	font-size: 1.5rem;
}

.form-control {
	color: #000;
	background-color: #E4E4E4;
}

.form-group {
	margin-bottom: 30px;
}

.inputData::placeholder {
	font-size: 1.4rem;
	color: #000;
}

.saveBtn, .backBtn {
	width: 200px;
	text-align: center;
	padding: 10px;
	border: none;
	outline: none;
	background-color: #fff;
	color: #000;
	cursor: pointer;
	font-size: 15px;
	margin-top: 20px;
	transition: background-color 0.3s ease, transform 0.3s ease;
	border-radius: 10px;
}

.saveBtn:hover {
	background-color: lightgray;;
	transform: translateY(-4px);
}

.backBtn {
	background-color: black;;
	color: #fff;
	margin-right: 10px;
}

.backBtn:hover {
	color: #fff;
	transform: translateY(-4px);
	background-color: #373A40;
	text-decoration: none;
}

.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.form-group {
	padding-right: 15px;
	padding-left: 15px;
	flex: 1 0 50%;
	max-width: 50%;
}

.form-group.full-width {
	flex: 1 0 100%;
	max-width: 100%;
}

.forType {
	display: flex;
	gap: 25px;
	align-items: center;
}

input[type="radio"] {
	position: relative;
	margin-right: 10px;
	top: 4px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #1e1e1e;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}

input[type="radio"]:checked {
	background-color: #28a745;
}

input[type="text"], input[type="file"] {
	max-width: 100%;
	height: 40px;
	text-align: left;
}

input[type="text"], select {
	font-size: 1.5rem;
}

input[type="file"] {
	padding: 8px;
	color: #000;
	width: 100%;
	font-size: 1.4rem;
	box-sizing: border-box;
}

option {
	color: #000;
	background-color: #E4E4E4;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 1.4rem;
	border-bottom: 1px solid #000;
}

.footer {
	justify-content: right;
	display: flex;
}