<!DOCTYPE html>
<html lang="en" class="light-style" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Login</title>

    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <link th:href="@{/css/core.css}" rel="stylesheet" />
    <link th:href="@{/css/theme-default.css}" rel="stylesheet" />
    <link th:href="@{/css/page-auth.css}" rel="stylesheet" />

    <link th:href="@{/css/perfect-scrollbar.css}" rel="stylesheet" />
    
    <style>
    body{
    	background: linear-gradient(to bottom right, #4B0000, #800000, #4B0000);
    }

    </style>
</head>

<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <div class="card">
                    <div class="card-body">
           
                        <div class="app-brand justify-content-center">
                            <a href="#S" class="app-brand-link">
                                
                                <span class="app-brand-text demo text-body fw-bolder" style="font-size: 25px;">Welcome Back!</span>
                            </a>
                        </div>

                        <h4 style="font-size:18px; font-style:italic; text-align:center; color:#4B0000; padding-bottom: 15px;" class="mb-2">Step Into Style, Walk with Confidence</h4>

                        <form th:action="@{/login}" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label" style="color:#333333; font-size:13px; font-weight:bold;">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email here..." required />
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label" style="color:#333333; font-size:13px; font-weight:bold;">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password here..." required />
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me" style="border-color:gray;"/>
                                    <label class="form-check-label" for="remember-me" style="color: #4B0000;"> Remember Me </label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit" style="background: linear-gradient(to right, #800000, #8B0000, #B22222); border: none; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);">Sign in</button>
                            </div>
                        </form>

                        <p class="text-center">
                            <span style="color:black; font-weight:bold;">Don't have an account?</span>
                            <a th:href="@{/registerAdmin}"><span style= "color:#4B0000; text-decoration:underline; font-weight:bold;">Register Now</span></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/js/main.js"></script>
    
</body>

</html>

